{% extends 'base.html' %}
{% block title %}/bookyourmotorbike{% endblock title %}
{% block body %}

<div class="fs-1 my-2 p-3 mb-2  bg-secondary text-center text-white">OUR COLLECTION OF BIKES</div>
</div>
<div class="flex flex-col text-center w-full mb-20">
  <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">Great Prices. Great Bikes. Great Service.
  </h1>
  <h4>A Bike for everyone.</h4>
</div>
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
           <img src="/static/bike_img/dukati.jpg" class="d-block w-100" alt="...">
            <div class="card-body">
                <h1 class="card-title">Dukati</h1>
    <a href="#" class="btn btn-primary">Select</a>
  </div> 
      </div>
            </div>
            
          </div>
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
           <img src="/static/bike_img/duke.jpg" class="d-block w-100" alt="...">
            <div class="card-body">
                <h1 class="card-title">Duke</h1>
    <a href="#" class="btn btn-primary">Select</a>
  </div> 
      </div>
            </div>
          </div>
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
           <img src="/static/bike_img/hybusa.jpg" class="d-block w-100" alt="...">
            <div class="card-body">
                <h1 class="card-title">Hybusa</h1>
    <a href="#" class="btn btn-primary">Select</a>
  </div> 
      </div>
            </div>
          </div>
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
           <img src="/static/bike_img/ktm.jpg" class="d-block w-100" alt="...">
            <div class="card-body">
                <h1 class="card-title">KTM</h1>
    <a href="#" class="btn btn-primary">Select</a>
  </div> 
      </div>
            </div>
          </div>
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
           <img src="/static/bike_img/royal.jpg" class="d-block w-100" alt="...">
            <div class="card-body">
                <h1 class="card-title">Royal Enfield</h1>
    <a href="#" class="btn btn-primary">Select</a>
  </div> 
      </div>
</div> 
      </div>
            </div>
          </div>
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
           <img src="/static/bike_img/activa.jpg" class="d-block w-100" alt="...">
            <div class="card-body">
                <h1 class="card-title">Activa</h1>
    <a href="#" class="btn btn-primary">Select</a


{% endblock body %}
