
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
* {
  box-sizing: border-box;
}

body {
  background-color: #f1f1f1;
  padding: 50px;
  font-family: Arial;
}

/* Center website */
.main {
  max-width: 1000px;
  margin: auto;
}

h1 {
  font-size: 50px;
  word-break: break-all;
}

.row {
  margin: 10px -16px;
}

/* Add padding BETWEEN each column */
.row,
.row > .column {
  padding: 8px;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  display: none; /* Hide all elements by default */
}

/* Clear floats after rows */ 
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  background-color: white;
  padding: 10px;
}

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}

/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 12px 20px;
  background-color:white;
  cursor: pointer;
}

.btn:hover {
  background-color: #ddd;
}

.btn.active {
  background-color: #666;
  color: white;
}

</style>
</head>
<body>

<!-- MAIN (Center website) -->
<div class="main">

<h1>WOO TOURSIOUM BUS BUSBOOKING</h1>
<hr>

<h2>Which One You Want </h2>

<div id="myBtnContainer">
  <button class="btn active" onclick="filterSelection('all')"> Show all</button>
  <button class="btn" onclick="filterSelection('TATA')"> TATA</button>
  <button class="btn" onclick="filterSelection('VOLVO')">VOLVO</button>
  <button class="btn" onclick="filterSelection('Mercedez-Benz')">Mercedez-Benz</button>
  <button class="btn" onclick="filterSelection('Scania')">Scania</button>
  <button class="btn" onclick="filterSelection('Ashok Leyland')">Ashok Leyland</button>
  <button class="btn" onclick="filterSelection('School Bus')">School Bus</button>
  <button class="btn" onclick="filterSelection('BharatBenz')">BharatBenz</button>
</div>

<!-- Portfolio Gallery Grid -->
<div class="row">
  <div class="column TATA">
    <div class="content">
      <img src="/static/img/Tata1.JPG" alt="TATA" style="width:100%">
      <h4>TATA</h4>
       <a href="/destinationfortatstar1" class="btn btn-primary">Select</a>
      <p>Tata Starbus Ultra ..</p>
    </div>
  </div>
  <div class="column TATA">
    <div class="content">
    <img src="/static/img/Tata2.JPG" alt="TATA" style="width:100%">
      <h4>TATA</h4>
       <a href="/TataStarbusUltraCitydestination" "background-color:powderblue class="btn btn-primary">Select</a>
      <p>Tata Starbus Ultra City..</p>
    </div>
  </div>
  <div class="column TATA">
    <div class="content">
    <img src="/static/img/Tata3.JPG" alt="TATA" style="width:100%">
      <h4>TATA</h4>
       <a href="#" class="btn btn-primary">Select</a>
      <p>Tata Starbus City..</p>
    </div>
  </div>
  
  <div class="column VOLVO">
    <div class="content">
      <img src="/static/img/Volvo1.JPG" alt="VOLVO" style="width:100%">
      <h4> Double-decker Volvo 9700 DD </h4>
       <a href="#" "background-color:powderblue class="btn btn-primary">Select</a>
      <p>Lorem ipsum dolor..</p>
    </div>
  </div>
  <div class="column VOLVO">
    <div class="content">
    <img src="/static/img/Volvo2.JPG" alt="VOLVO" style="width:100%">
      <h4>VOLVO B8R</h4>
       <a href="#" class="btn btn-primary">Select</a>
      <p>Lorem ipsum dolor..</p>
    </div>
  </div>
  <div class="column VOLVO">
    <div class="content">
    <img src="/static/img/Volvo3.JPG" alt="VOLVO" style="width:100%">
      <h4>VOLVO B11R</h4>
       <a href="#" class="btn btn-primary">Select</a>
      <p>Lorem ipsum dolor..</p>
    </div>
  </div>

  <div class="column Mercedez-Benz">
    <div class="content">
      <img src="/static/img/ms1.JPG" alt="Mercedez-Benz" style="width:100%">
      <h4>Mercedez Tourismo.</h4>
       <a href="#" class="btn btn-primary">Select</a>
      <p>Lorem ipsum dolor..</p>
    </div>
  </div>
  <div class="column Mercedez-Benz">
    <div class="content">
    <img src="/static/img/ms2.JPG" alt="Mercedez-Benz" style="width:100%">
      <h4>Mercedez Citaro Ü</h4>
       <a href="#" class="btn btn-primary">Select</a>
      <p>Lorem ipsum dolor..</p>
    </div>
  </div>
  <div class="column Mercedez-Benz">
    <div class="content">
    <img src="/static/img/ms3.JPG" alt="Mercedez-Benz" style="width:100%">
      <h4>Mercedes Benz 59 Seater</h4>
       <a href="#" class="btn btn-primary">Select</a>
      <p>Lorem ipsum dolor..</p>
    </div>
  </div>
  <div class="column School Bus">
    <div class="content">
      <img src="/static/img/Scl1.JPG" alt="Mountains" style="width:100%">
      <h4>Skyline Pro AC</h4>
       <a href="#" class="btn btn-primary">Select</a>
      <p>Lorem ipsum dolor..</p>
    </div>
  </div>
  <div class="column School Bus">
    <div class="content">
    <img src="/static/img/Scl2.JPG" alt="Lights" style="width:100%">
      <h4>Starline </h4>
       <a href="#" class="btn btn-primary">Select</a>
      <p>Lorem ipsum dolor..</p>
    </div>
  </div>
  <div class="column School Bus">
    <div class="content">
    <img src="/static/img/Scl3.JPG" alt="Nature" style="width:100%">
      <h4>Skyline 2075</h4>
       <a href="#" class="btn btn-primary">Select</a>
      <p>Lorem ipsum dolor..</p>
    </div>
  </div>
  <div class="column Scania">
    <div class="content">
      <img src="/static/img/Sc1.JPG" alt="Scania" style="width:100%">
      <h4>Scania Tourning 2</h4>
       <a href="#" class="btn btn-primary">Select</a>
      <p>Lorem ipsum dolor..</p>
    </div>
  </div>
  <div class="column Scania">
    <div class="content">
    <img src="/static/img/Sc2.JPG" alt="Scania" style="width:100%">
      <h4>Scania Lng Bus</h4>
       <a href="#" class="btn btn-primary">Select</a>
      <p>Lorem ipsum dolor..</p>
    </div>
  </div>
  <div class="column Scania">
    <div class="content">
    <img src="/static/img/Sc3.JPG" alt=Scania" style="width:100%">
      <h4>Scania Tourning</h4>
       <a href="#" class="btn btn-primary">Select</a>
      <p>Lorem ipsum dolor..</p>
    </div>
 </div>
  <div class="column Ashok Leyland">
    <div class="content">
      <img src="/static/img/As1.JPG" alt="Ashok Leyland" style="width:100%">
      <h4>Ashok Leyland nivstik</h4>
       <a href="#" class="btn btn-primary">Select</a>
      <p>Lorem ipsum dolor..</p>
    </div>
  </div>
  <div class="column Ashok Leyland ">
    <div class="content">
    <img src="/static/img/Ashok2.JPG" alt="Ashok Leyland" style="width:100%">
      <h4>Ashok Leyland longroom</h4>
       <a href="#" class="btn btn-primary">Select</a>
      <p>Lorem ipsum dolor..</p>
    </div>
  </div>
   <div class="column BharatBenz">
    <div class="content">
      <img src="/static/img/BB1.JPG" alt="BharatBenz" style="width:100%">
      <h4>Bharat Benz Power</h4>
       <a href="#" class="btn btn-primary">Select</a>
      <p>Lorem ipsum dolor..</p>
    </div>
  </div>
  <div class="column BharatBenz">
    <div class="content">
    <img src="/static/img/BB2.JPG" alt="BharatBenz" style="width:100%">
      <h4>Bharat Benz hummer</h4>
       <a href="#" class="btn btn-primary">Select</a>
      <p>Lorem ipsum dolor..</p>
    </div>
  </div>
  <div class="column BharatBenz">
    <div class="content">
    <img src="/static/img/BB3.JPG" alt="BharatBenz" style="width:100%">
      <h4>Bharat Benz pink</h4>
       <a href="#" class="btn btn-primary">Select</a>
      <p>Lorem ipsum dolor..</p>
    </div>
  </div>
<!-- END GRID -->
</div>

<!-- END MAIN -->
</div>

<script>
filterSelection("all")
function filterSelection(c) {
  var x, i;
  x = document.getElementsByClassName("column");
  if (c == "all") c = "";
  for (i = 0; i < x.length; i++) {
    w3RemoveClass(x[i], "show");
    if (x[i].className.indexOf(c) > -1) w3AddClass(x[i], "show");
  }
}

function w3AddClass(element, name) {
  var i, arr1, arr2;
  arr1 = element.className.split(" ");
  arr2 = name.split(" ");
  for (i = 0; i < arr2.length; i++) {
    if (arr1.indexOf(arr2[i]) == -1) {element.className += " " + arr2[i];}
  }
}

function w3RemoveClass(element, name) {
  var i, arr1, arr2;
  arr1 = element.className.split(" ");
  arr2 = name.split(" ");
  for (i = 0; i < arr2.length; i++) {
    while (arr1.indexOf(arr2[i]) > -1) {
      arr1.splice(arr1.indexOf(arr2[i]), 1);     
    }
  }
  element.className = arr1.join(" ");
}


// Add active class to the current button (highlight it)
var btnContainer = document.getElementById("myBtnContainer");
var btns = btnContainer.getElementsByClassName("btn");
for (var i = 0; i < btns.length; i++) {
  btns[i].addEventListener("click", function(){
    var current = document.getElementsByClassName("active");
    current[0].className = current[0].className.replace(" active", "");
    this.className += " active";
  });
}
</script>

</body>
</html>