{% extends 'base.html' %}
{% block title %}/carbooking{% endblock title %}
{% block body %}
<div class="fs-1 my-2 p-3 mb-2  bg-secondary text-center text-white">OUR COLLECTION OF CARS</div>
</div>
<div class="flex flex-col text-center w-full mb-20">
  <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">Great Prices. Great Vehicles. Great Service.
  </h1>
  <h4>A car for everyone.</h4>
</div>

  <div class=" container-fluid row row-cols-1 row-cols-sm-2 row-cols-md-3 g- my-3 ">
    <div class="col">
      <div class="card shadow-sm">
        <img src="/static/car_img/BMWX1.JPEG" class="d-block w-100" alt="...">
        <div class="card-body">
          <h1 class="card-title">BMWX1</h1>
          <a href="#" class="btn btn-primary">Select</a>
        </div>
      </div>
    </div>
  </div>

<div class="container-fluid row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 my-3">
  <div class="col">
    <div class="card shadow-sm">
      <img src="/static/car_img/MahindraXUV500.WEBP" class="d-block w-100" alt="...">
      <div class="card-body">
        <h1 class="card-title">Mahindra XUV500</h1>
        <a href="#" class="btn btn-primary">Select</a>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 my-3">
  <div class="col">
    <div class="card shadow-sm">
      <img src="/static/car_img/AudiA6.WEBP" class="d-block w-100" alt="...">
      <div class="card-body">
        <h1 class="card-title">Audi A6</h1>
        <a href="#" class="btn btn-primary">Select</a>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 my-3">
  <div class="col">
    <div class="card shadow-sm">
      <img src="/static/car_img/Fortuner.WEBP" class="d-block w-100" alt="...">
      <div class="card-body">
        <h1 class="card-title">Fortuner</h1>
        <a href="#" class="btn btn-primary">Select</a>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 my-3">
  <div class="col">
    <div class="card shadow-sm">
      <img src="/static/car_img/INNOVA.WEBP" class="d-block w-100" alt="...">
      <div class="card-body">
        <h1 class="card-title">INNOVA</h1>
        <a href="#" class="btn btn-primary">Select</a>
      </div>
    </div>
  </div>
</div>
</div>
</div>
<div class="container-fluid row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 my-3">
  <div class="col">
    <div class="card shadow-sm">
      <img src="/static/car_img/CRETA.JPEG" class="d-block w-100" alt="...">
      <div class="card-body">
        <h1 class="card-title">CRETA</h1>
        <a href="#" class="btn btn-primary">Select</a>
      </div> {% endblock body %}