{% extends 'base.html' %}

{% block title %}Home{% endblock title %}

{% block body %}
<div class="container-fluid px-0">
  <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="/static/slider_img/vanars.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Welcome to the Woo Travel</h5>
          <p>I know you travel But Woo travel have litle more fun and excited benifit so please give us chance to serve
            you</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="/static/slider_img/kedarnath1.jpg" class="d-block w-100" alt="...">

        <div class="carousel-caption d-none d-md-block">
          <h5>We serve love with our Travels</h5>
          <p>Woo travels World Famous Best Travel Agency.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="/static/slider_img/goa.gif" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Known by its services</h5>
          <p>our motto is provide happily and comfortfull journey</p>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>


<div class="container my-3">
  <h1 class="my-4 text-center">Most Femous Destinations 2021
    ...</h1>
  <div class="row">
    <div class="col-md-4">
      <div class="card mb-4 shadow-sm">
        <img src="static/plan_img/Kedar.jpg" class="d-block w-100" alt="...">

        <div class="card-body">
          <p class="card-text">
          <h4>Kedarnath</h4>Kedarnath is a holy Hindu town located in Uttarakhand in India. It
          is one of the Char Dhams located in the Himalayas.</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary "><a href="kedarnath">Plan Trip</a></button>
              <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
            </div>
            <small class="text-muted">9 mins</small>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card mb-4 shadow-sm">
        <img src="static/plan_img/ladakh.jpg" class="d-block w-100" alt="...">
        <div class="card-body">
          <p class="card-text">
          <h4>Ladakh</h4>Ladakh or the 'Land of High Passes' is a beautiful region  
          Indian state of Jammu and Kashmir.
          </p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary"><a href="ladakh">Plan Trip</a></button>
              <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
            </div>
            <small class="text-muted">9 mins</small>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card mb-4 shadow-sm">
        <img src="static/prayagraj_img/pryag4.jpg" class="d-block w-100" alt="...">
        <div class="card-body">
          <p class="card-text">
          <h4>Prayagraj</h4>Prayag in modern day Allahabad is believed to be the most important pilgrimage centre for
          Hindus.
          </p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary"><a href="prayagraj">Plan Trip</a></button>
              <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
            </div>
            <small class="text-muted">9 mins</small>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card mb-4 shadow-sm">
        <img src="static/goa_img/goa5.jpg" class="d-block w-100" alt="...">
        <div class="card-body">
          <p class="card-text">
          <h4>Goa</h4>Goa is one of the most favorite destination among Indian tourists due to its pristine beaches.</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary"><a href="goa">Plan Trip</a></button>
              <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
            </div>
            <small class="text-muted">9 mins</small>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card mb-4 shadow-sm">
        <img src="static/manali_img/manali1.jpg" class="d-block w-100" alt="...">
        <div class="card-body">
          <p class="card-text">
          <h4>Manali</h4>Manali is a resort and tourist town nestled in the mountains of the Indian state of Himachal
          Pradesh</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary"><a href="manali">Plan Trip</a></button>
              <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
            </div>
            <small class="text-muted">9 mins</small>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card mb-4 shadow-sm">
        <img src="static/plan_img/vanaras.jpg" class="d-block w-100" alt="...">
        <div class="card-body">
          <p class="card-text">
          <h4>Varanshi</h4>Varanasi grew as an important industrial centre famous for its muslin and perfumes, ivory
          works, and sculpture. .</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary"><a href="varanshi">Plan Trip</a></button>
              <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
            </div>
            <small class="text-muted">9 mins</small>
          </div>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card shadow-sm">
        <img src="/static/agra_img/agra1.jpg" class="d-block w-100" alt="...">

        <div class="card-body">
          <p class="card-text">Agra</p>
          <h4>AGRA</h4>Agra is a city on the banks of the Yamuna river in the Indian state of Uttar Pradesh, about 210 kilometres
          south of the national capital New Delhi.</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary"><a href="agra">Plan Trip</a></button>
              <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
            </div>
            <small class="text-muted">Trending</small>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm">
        <img src="/static/jammu_img/jammu1.jpg" class="d-block w-100" alt="...">

        <div class="card-body">
          <p class="card-text">Jammu-Kashmir</p>
          <h4>Jammu-Kashmir</h4>Jammu and Kashmir was a state of India from 1954 to 2019, constituting the southern and southeastern portion
          of the larger Kashmir region</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary"><a href="jammu">Plan Trip</a></button>
              <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
            </div>
            <small class="text-muted">Trending</small>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm">
        <img src="/static/tri_img/tri1.jpg" class="d-block w-100" alt="...">

        <div class="card-body">
          <p class="card-text">Tirupati Balaji</p>
          <h4>Tirupati Balaji</h4>Venkateswara Temple is a Hindu temple situated in the hill town of Tirumala at Tirupati in Chittoor district
          of Andhra Pradesh, India.</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary"><a href="tirupati">Plan Trip</a></button>
              <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
            </div>
            <small class="text-muted">Trending</small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Footer -->
<footer class="page-footer font-small cyan darken-3">

  <!-- Footer Elements -->
  <div class="container">

    <!-- Grid row-->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-12 py-5">
        <div class="mb-5 flex-center">

          <!-- Facebook -->
          <a class="fb-ic">
            <i class="fab fa-facebook"></i>
          </a>
          <!-- Twitter -->
          <a class="tw-ic">
            <i class="fab fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>
          <!-- Google +-->
          <a class="gplus-ic">
            <i class="fab fa-google-plus-g fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>
          <!--Linkedin -->
          <a class="li-ic">
            <i class="fab fa-linkedin-in fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>
          <!--Instagram-->
          <a class="ins-ic">
            <i class="fab fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>
          <!--Pinterest-->
          <a class="pin-ic">
            <i class="fab fa-pinterest fa-lg white-text fa-2x"> </i>
          </a>
        </div>
      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row-->

  </div>
  <!-- Footer Elements -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2021 Copyright:
    <a href="#"> WooTravels.com</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
{% endblock body %}