<!DOCTYPE html>

<head>
    <title>TIRUPATI BALAJI</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="text/html; charset=iso-8859-2" http-equiv="Content-Type">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <style>
        .mySlides {
            display: none;
        }
    </style>
</head>

<body>

    <h2 class="w3-center">TIRUPATI BALAJI</h2>
    <div class="container-fluid">
        <div class="w3-content w3-section" style="max-width:500px">
            <img class="mySlides" src="/static/tri_img/tri1.jpg" style="width:100%">
            <img class="mySlides" src="/static/tri_img/tri2.jpg" style="width:100%">
            <img class="mySlides" src="/static/tri_img/tri3.png" style="width:100%">
            <img class="mySlides" src="/static/tri_img/tri4.jpg" style="width:100%">
        </div>
    </div>

    <script>
        var myIndex = 0;
        carousel();

        function carousel() {
            var i;
            var x = document.getElementsByClassName("mySlides");
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";
            }
            myIndex++;
            if (myIndex > x.length) { myIndex = 1 }
            x[myIndex - 1].style.display = "block";
            setTimeout(carousel, 2000); // Change image every 2 seconds
        }
    </script>

    <div class="w3-container">
        <h2>ABOUT TIRUPATI BALAJI</h2>
        <p>Venkateswara Temple is a Hindu temple situated in the hill town of Tirumala at Tirupati in Chittoor district
            of Andhra Pradesh, India. The temple is dedicated to Venkateswara, a form of Vishnu, who is believed to have
            appeared here to save mankind from trials and troubles of Kali Yuga.</p>

        <div class="w3-dropdown-click">
            <button onclick="myFunction()" class="w3-button w3-black">Select Vehicle</button>
            <div id="Demo" class="w3-dropdown-content w3-bar-block w3-card-4 w3-animate-zoom">
                <a href="carbooking" class="w3-bar-item w3-button">BY Car</a>
                <a href="busbooking" class="w3-bar-item w3-button">BY Bus</a>
                <a href="bookyourmotorbike" class="w3-bar-item w3-button">BY Bike</a>
            </div>
        </div>
    </div>

    <script>
        function myFunction() {
            var x = document.getElementById("Demo");
            if (x.className.indexOf("w3-show") == -1) {
                x.className += " w3-show";
            } else {
                x.className = x.className.replace(" w3-show", "");
            }
        }
    </script>

</body>

</html>